{% extends 'base.html' %}

{% block title %}
	Home page
{% endblock %}

{% block body %}
	<!--    welcome cafe-->
    <section id="learn" class=" w-100 my-5">
        <div class="container bg-light mt-5 ">
            <div class="row align-items-center justify-content-center">
                <div class="col-md">
                    <img src="{{url_for('static', filename='cafe_envorment.jpg')}}" class="img-fluid m-1 mt-5" alt="cafe_env" style="width: 500px;height: 300px; object-fit: cover" />
                </div>
                <div class="col-md p-5">
                    <h2>Welcome To Our Cafe</h2>
                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        This cafe has created by Team 5 in year 2022 based on imaginations.
                        The members of the team are safe and sound after maktab bootcamp78 bloody accident.<br>
                        <b>we are the only Survivors </b>


                    </p>
                    <p class="border-top">based on true story</p>
                    <a href="{{url_for('menu')}}" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Menu
                    </a>
                </div>
            </div>
        </div>
    </section>
<!--    coffee-->
    <section class="my-5">
        <div class="container bg-light ">
            <div class="row">
                <h2 class="text-center mt-4 border-bottom pb-4 border-dark border-5" >Today's Special:<i> Maktab Coffee</i></h2>
            </div>
            <div class="row align-items-center justify-content-between">

                <div class="col-md p-5">


                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                        reiciendis eius autem eveniet mollitia, at asperiores suscipit
                        quae similique laboriosam iste minus placeat odit velit quos,
                        nulla architecto amet voluptates?
                    </p>
                    <a href="{{url_for('menu')}}" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Menu
                    </a>
                </div>
                <div class="col-md d-flex justify-content-center">
                    <img src="{{url_for('static', filename='cafe_love.jfif')}}" class="img-fluid m-1 mb-5" alt="cafe_env" style="object-fit: cover;width: 500px;height: 300px" />
                </div>
            </div>
        </div>
    </section>
<!--    iranian tea-->
    <section class=" mt-5 w-100 my-5">
        <div class="container bg-light ">
            <div class="row">
                <h2 class="text-center mt-4 border-bottom pb-4 border-dark border-5" >Today's Special:<i> Maktab Coffee</i></h2>
            </div>
            <div class="row align-items-center justify-content-between w-100">
                <div class="col-md d-flex justify-content-center">
                    <img src="{{url_for('static', filename='iranian_tea.jpg')}}" class="img-fluid m-1" alt="cafe_env" style="width: 500px ; height: 300px ; object-fit: cover" />
                </div>

                <div class="col-md p-5">


                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                        reiciendis eius autem eveniet mollitia, at asperiores suscipit
                        quae similique laboriosam iste minus placeat odit velit quos,
                        nulla architecto amet voluptates?
                    </p>
                    <a href="{{url_for('menu')}}" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Menu
                    </a>
                </div>

            </div>
        </div>
    </section>
    <div class="container mt-5 border-top border-light border-2 ">
        <footer class="mt-4 ">
            <div class="row ">
                <div class="col-6 text-dark text-center align-items-center">


                    <div class="card " style = "height: 400px">
                        <h3 class = 'mt-5'>founders:</h3>
                        <h4 class = 'mt-2'>Mahdi Mirzaie</h4>
                        <h4 class = 'mt-2'>MohammadMahdi Farokhi</h4>
                        <h4 class = 'mt-2'>Masoud Zandi</h4>
                        <h4 class = 'mt-2'>Parsa Ahmaripour</h4>
                        <h4 class = 'mt-2'>Reza Amin</h4>
                    </div>



                </div>
                <div class="col-6">
                    <div id="map" class="mb-5" style = "height: 400px"></div>
                </div>

            </div>


            <div class="d-flex flex-column flex-sm-row justify-content-center py-4 border-top text-light">
                <p>© 2022 Company, Inc. All rights reserved.</p>

            </div>
        </footer>
    </div>






    	<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>


	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [51.4215, 35.6966],
			zoom: 18,
		})
	</script>
{% endblock %}



