{% extends 'base.html' %}

{% block title %}
	Home page
{% endblock %}

{% block body %}
	<!--    welcome cafe-->
    <section id="learn" class=" w-100 my-5">
        <div class="container bg-light mt-5 ">
            <div class="row align-items-center justify-content-center">
                <div class="col-md">
                    <img src="{{url_for('static', filename='cafe_envorment.jpg')}}" class="img-fluid m-1 mt-5" alt="cafe_env" style="width: 500px;height: 300px; object-fit: cover" />
                </div>
                <div class="col-md p-5">
                    <h2>Welcome To Our Cafe</h2>
                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        This cafe has created by Team 5 in year 2022 based on imaginations.
                        The members of the team are safe and sound after maktab bootcamp78 bloody accident.<br>
                        <b>we are the only Survivors </b>


                    </p>
                    <p class="border-top">based on true story</p>
                    <a href="#" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Read More
                    </a>
                </div>
            </div>
        </div>
    </section>
<!--    coffee-->
    <section class="my-5">
        <div class="container bg-light ">
            <div class="row">
                <h2 class="text-center mt-4 border-bottom pb-4 border-dark border-5" >Today's Special:<i> Maktab Coffee</i></h2>
            </div>
            <div class="row align-items-center justify-content-between">

                <div class="col-md p-5">


                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                        reiciendis eius autem eveniet mollitia, at asperiores suscipit
                        quae similique laboriosam iste minus placeat odit velit quos,
                        nulla architecto amet voluptates?
                    </p>
                    <a href="#" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Read More
                    </a>
                </div>
                <div class="col-md d-flex justify-content-center">
                    <img src="{{url_for('static', filename='cafe_love.jfif')}}" class="img-fluid m-1 mb-5" alt="cafe_env" style="object-fit: cover;width: 500px;height: 300px" />
                </div>
            </div>
        </div>
    </section>
<!--    iranian tea-->
    <section class=" mt-5 w-100 my-5">
        <div class="container bg-light ">
            <div class="row">
                <h2 class="text-center mt-4 border-bottom pb-4 border-dark border-5" >Today's Special:<i> Maktab Coffee</i></h2>
            </div>
            <div class="row align-items-center justify-content-between w-100">
                <div class="col-md d-flex justify-content-center">
                    <img src="{{url_for('static', filename='iranian_tea.jpg')}}" class="img-fluid m-1" alt="cafe_env" style="width: 500px ; height: 300px ; object-fit: cover" />
                </div>

                <div class="col-md p-5">


                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                        reiciendis eius autem eveniet mollitia, at asperiores suscipit
                        quae similique laboriosam iste minus placeat odit velit quos,
                        nulla architecto amet voluptates?
                    </p>
                    <a href="#" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Read More
                    </a>
                </div>

            </div>
        </div>
    </section>
    <div class="container mt-5 border-top border-light border-2">
        <footer class="mt-4">
            <div class="row text-light">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-md-5 offset-md-1 mb-3 ">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-center py-4 border-top text-light">
                <p>© 2022 Company, Inc. All rights reserved.</p>

            </div>
        </footer>
    </div>



{% endblock %}