{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block body %}

    HTML
    <section class="bg-dark">
        <div class="container pb-5">


            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOuVGEtYjTC251RGm3sll-NsTCeb3rhnSAuMBAs7OTUZ2CZBXt8wjUw9ExVN7dZV9L1nw&usqp=CAU"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ current_user.first_name }} {{ current_user.last_name }}</h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        {% include 'inc/form_errors.html' %}
                        <form action="" method="post">
                            {{ form.csrf_token }}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.first_name.label }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ form.first_name }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.last_name.label }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ form.last_name }}</p>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.email.label }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">{{ form.email }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.phone_number.label }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ form.phone_number }}</p>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-dark mt-4" value="Update">
                            </div>
                        </form>

                    </div>
                    <div class="row">
                        <h3 class="text-light text-center mb-5 border-bottom border-light border-5 pb-2">Your shopping cart</h3>
                        <br>
                        {% for order in orders %}
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body text-dark">
                                        <p class="mb-4"><span class="font-italic me-1">Name: {{ order.menuitem['name'] }}</span>
                                        </p>
                                        <p class="mb-4"><span class="font-italic me-1">Price: {{ order.menuitem['price']|int }}</span>
                                        </p>
                                        <p class="mb-4"><span class="font-italic me-1">Category: {{ order.menuitem['category'] }}</span>
                                        </p>
                                        <p class="mb-4"><span class="font-italic me-1">Discount: {{ order.menuitem['discount']|int }}</span>
                                        </p>
                                        <p class="mb-4"><span class="font-italic me-1">Serving time period: {{ order.menuitem['serving_time_period'] }}</span>
                                        </p>
                                        <p class="mb-4"><span class="font-italic me-1">Estimated cooking time: {{ order.menuitem['estimated_cooking_time'] }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}