{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block body %}

    HTML
    <section class="bg-dark">
        <div class="container pb-5">


            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{{ url_for('static', filename='pngfind.com-user-icon-png-2924933.png') }}"
                            alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ current_user.first_name }} {{ current_user.last_name }}</h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        {% include 'inc/form_errors.html' %}
                        <form action="" method="post">
                            {{ form.csrf_token }}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.first_name.label(class='form-control-label') }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ form.first_name(class='form-control w-50') }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.last_name.label(class='form-control-label') }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ form.last_name(class='form-control w-50') }}</p>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.email.label(class='form-control-label') }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">{{ form.email(class='form-control w-50') }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ form.phone_number.label(class='form-control-label') }}</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ form.phone_number(class='form-control w-50') }}</p>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-dark mt-4" value="Update">
                            </div>
                        </form>

                    </div>
                    <div class="row">
                        <div class="text-center">

                        <h3 class="text-light mb-5 border-bottom border-light border-1 w-50 mx-auto mt-5 pb-3">Your shopping
                            cart</h3>
                        </div>
                        <br>
                        {% for order in orders.values() %}
                            <div class="col-md-6">
                                <div class="card mb-5">
                                    <div class="card-body text-dark">
                                        {% for item in order %}
                                            <div class="card text-light bg-dark my-2">
                                                <div class="row d-flex text-center">
                                                    <div class="col-6">
                                                        <p class="mb-4 mt-4"><span
                                                            class="font-italic me-1">Name: {{ item.menuitem['name'] }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="mb-4 mt-4"><span
                                                            class="font-italic me-1">Price: {{ item.menuitem['price']|int }} T</span>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}