{% extends 'base.html' %}

{% block title %}
SignUp page
{% endblock %}


{% block body %}
<style></style>
<section class="bg-dark overflow-hidden mt-5 p-5">


  <div class="container px-4 px-md-5 text-center bg-dark">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 col-md-12" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 col-md-12 mb-lg-0 position-relative mt-5">

        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 px-md-5">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <h2 class="fw-bold text-uppercase text-center mb-4">Sign up</h2>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" placeholder="First name" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" placeholder="Last name"/>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" placeholder="Email address"/>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" id="form3Example4" class="form-control" placeholder="Phone number"/>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-2">
                <input type="password" id="form3Example5" class="form-control" placeholder="Password"/>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>

              <!-- Submit button -->
              <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-outline-dark">
                Sign up
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}